.header {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1024px;
  background: #201f2b;
}

@media screen and (min-width: 1024px) {
  .header-mobile,
  .sideBar {
    display: none;
  }
  .header {
    height: 65px;
    justify-content: space-between;
    position: absolute;
    color: white;
    background-color: #201f2b;
    z-index: 2;
  }
}
