.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 150px;
  align-items: center;
  justify-content: center;
}

.logo-transition {
  height: 114px;
  transition: height 0.3s ease-in-out;
}

.navbar-buttons:hover {
  color: white;
  background-color: #0088cc;
}

.about-us:hover .right-arrow {
  animation: move-right 0.6s infinite ease-in-out;
}

@media screen and (max-width: 1200px) {
  .logo-transition {
    height: 80px;
  }
}

@media screen and (max-width: 991.5px) {
  .navbar-buttons {
    display: none;
  }
  .header {
    height: fit-content;
  }
}

@keyframes move-right {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0px);
  }
}
